@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'poppins', sans-serif;
}
.redtext{
    color: #ec1e64;
}

.font-14{
    font-size: 14px;
    
}
nav{
    margin: 0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 4;
    box-shadow: 0 5px 30px  rgba(23, 23, 23, 0.096);
}

nav .container .row h3{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
nav .container .row .menu .row{
    display: flex;
    flex-direction: row;
    
}
nav .menu a{
    text-decoration: none;
}
nav .container .row a{
    font-size: 14px;
    color: black;
    padding: 10px 12px 10px ;
    cursor: pointer;
}
nav .container .row a:hover{
    color: #ec1e64;
}

section .home h1{
    font-size: 80px;
    font-weight: 700;
    padding: 150px 10px;
}
section .section{
    padding-bottom: 7rem;
    padding-top: 7rem;
}
section .section1{
    padding-top: 7rem;
    padding-bottom: 0px;
}
.services .container{
    padding-top: 7rem;
}
.heading-wrap .heading  {
    position: relative;
    padding-left: 100px;
    font-size: 50px;
    font-weight: 700;

}
.heading-wrap .heading:before {
    top: 25px;
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #ec1e64;
}
.services .container .btn{
    background-color: #ec1e64;
    border-color: #ec1e64;
    border-radius: 0%;
    font-size: 10px;
    padding: 12px 20px;
}
section .container .btn-red-white{
    background-color: #ec1e64;
    border-color: #ec1e64;
    border-radius: 0%;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 12px 20px;
}
section .container .btn-red-white:hover{
    background-color: #fff;
    color: #ec1e64;
    border-color: #fff ;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.199) ;
}


.services h3 a{
    font-size: 20px;
    color: #ec1e64;
}


.process .ProcessBoxBorder{
    border: 3px solid #efefef;
    padding: 30px;
    transition: .3s all ease;
}
.process .active{
    border: 3px solid #ec1e64;
}
.process .ProcessBoxBorder:hover{
    border: 3px solid #ec1e64;
    padding: 30px;
}
.services img:hover{
    box-shadow: 14px 14px #ec1e64 ;
    transition: .27s;
}


section .client{
    background-color: #1d1d1d;
    padding-top: 7rem;
    color: #fff;
}

section .client .clientBorder .step{
    background-color: #fff;
    padding: 30px;
    color: #252837;
}

section .client .clientLogo {
    height: 40px;
    margin-bottom: 30px;
}
section .client  h3 {
    font-size: 18px;
    font-weight: 700;
}

section .feature{
    background-color: #f8f9fA;
}












section .about .officeImage img{
    max-width: 100%;
    height: auto;
}



@media (max-width: 991.98px) {
    .hero .heading {
      font-size: 50px; } 
      .site-menu{
        display: none;
    }
    nav{
        border: none;
    }

    }
